.requirementsList {
  text-decoration: none;
  list-style: none;
  padding: 0; 
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.1rem;

  svg {
    display: block;
  }
}

.met {
  fill: var(--green-600);
  background: none;
}

.unmet {
  fill: var(--red-500);
  background: none;
}