.overviewSection {
    border-radius: 0;
    padding: var(--space-2) var(--space-4);
    background-color: var(--color-background-subtle);
    border-bottom: 1px solid var(--gray-100);

    h2 {
        margin: 0;
        padding: 0;
    }
}

.overviewSectionContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.overviewSectionTitle {
    font-size: var(--fs-small);
    font-weight: var(--fw-medium);
    color: var(--slate-700);
    margin: 0;
    line-height: var(--lh-normal);
}

.overviewSectionText {
    font-size: var(--fs-base);
    font-weight: 400;
    margin: 0;

    p {
        margin: 0;
    }

    > p:first-child {
        font-weight: var(--fw-semibold);
        color: var(--text-black);
    }

    strong {
        font-weight: var(--fw-semibold);
    }
}

.overviewSectionActions {
    margin-top: var(--space-1);
}
