.optionsDescription {
  margin: 0 0 var(--space-1);
  font-size: var(--fs-base);
  font-weight: 600;
}

.searchField {
  display: grid;
  grid-template-areas:
  "label label"
  "input button"
  "help help";
  grid-template-columns: 1fr auto;
  max-width: 500px;
}

.searchLabel {
  grid-area: label;
}

.searchInput {
  grid-area: input;

}

.searchButton {
  grid-area: button;
  margin-left: 10px;
  width: fit-content;
}

.searchHelpText {
  grid-area: help;
  width: fit-content;
}

.questionFormField {
  height: 100px
}

.deleteZone {
  margin-top: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}

.deleteConfirmButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.commentCheckbox {
  margin-bottom: var(--space-6);
}

.sampleTextGroup {
  margin-bottom: 2rem;

  :global(.react-aria-TextField) {
    margin-bottom: var(--space-2);
  }

  :global(.react-aria-Checkbox) {
    margin-bottom: 0;
  }
}

.optionsWrapper {
  margin-bottom: var(--space-6);
}
