.expandButton {
  background: none;
  border: none;
  font-size: var(--fs-base);
  line-height: 1;
  cursor: pointer;
  color: var(--text-color) !important;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  background: transparent !important;
}

.expandIcon {
  margin-top: 2px;
  margin-left: 0;
  transition: transform 0.3s ease;
}

.expanded {
  transform: rotate(180deg);
}

@media (prefers-reduced-motion: reduce) {
  .expandIcon {
    transition: none;
  }
}